body {
  background-image: url("bg2.png");
  background-repeat: repeat;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.3fr 1.9fr 0.6fr 1.9fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "Dealer Neues-Spiel Bank"
    ". Cardarea-Dealer ."
    "Teilen-Ziehen Einsatz-Verdoppeln Halten-Aufgeben"
    ". Cardarea-Spieler ."
    ". . Spieler";
}
.Dealer {
  grid-area: Dealer;
}
.Neues-Spiel {
  grid-area: Neues-Spiel;
}
.Bank {
  grid-area: Bank;
}
.Teilen-Ziehen {
  grid-area: Teilen-Ziehen;
}
.Einsatz-Verdoppeln {
  grid-area: Einsatz-Verdoppeln;
}
.Halten-Aufgeben {
  grid-area: Halten-Aufgeben;
}
.Spieler {
  grid-area: Spieler;
}
.Cardarea-Dealer {
  grid-area: Cardarea-Dealer;
}
.Cardarea-Spieler {
  grid-area: Cardarea-Spieler;
}
